<h2 class="Welcome-user">Sign In!</h2>
  <div class="sign-up-form" >
    <%= form_with(url: "/signin", method: "post") do %>
      <div class="Form-section">
        <%= email_field_tag 'email', nil, class:'Form-text', placeholder:"Email" %>
      </div>
      <div class="Form-section">
        <%= password_field_tag 'password', nil, class:'Form-text', placeholder:"Password" %>
      </div>
      <div class="sign-up-submit">
        <%= submit_tag 'Sign In!', class:'AddTodo-button' %>
      </div>
    <% end %>
  </div>