body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
}

.MainTodoPage {
    width: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.MainTodoPage h1 {
    float: left;
    font-size: 40px;
    border-bottom: 5px solid #00fb03;
    margin-bottom: 50 px;
    padding: 10px 0;
}

.AddTodo-text {
    margin-top: 50px;
    display: flex;
    overflow: hidden;
    padding: 5px;
    margin 5px;
    border-bottom: 1px solid #00fb03;
}