@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    font-family: sans-serif;
    max-width: 600px;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}

.TodoPage-title {
    font-size: 34px;
    line-height: 1.6;
    color: white;
    font-weight: 600;
    margin-bottom: 6px;
    border-bottom: 4px solid white;
    width: 40%;
}

.TodoSection-title {
    font-size: 20px;
    line-height: 1.4;
    color: white;
}

.TodoSectionTitle {
    align-items: center;
    display: flex;
}

.TodoSection-todo {
    font-size: 14px;
    line-height: 1.2;
    color: white;
    text-emphasis: none;
    padding: 10px;
}

.TodoSection {
    margin-bottom: 10px;
}

.TodoSelecion-checkbox {
    display: flex;
    margin-left: 32px;
    align-items: center;
}

.TodoSection-num {
    margin-left: 10px;
}

.TodoSection-overdue {
    color: #fd0000;
    margin-left: 2.5px;
}

.TodoSection-remaining {
    color: #adadad;
}

.TodoSection-num {
    color: #adadad;
}

.AddTodo-button {
    background-color: rgb(9, 155, 9);
    border: 2px solid rgb(255, 255, 255);
    padding: 6px 22px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-size: 21px;
    cursor: pointer;
}

.AddTodo-text {
    padding: 7px 12px;
    margin-right: 4px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    width: 30%;
    color: #cacaca;
    margin-right: 12px;
}

.AddTodo-date {
    padding: 7px 12px;
    margin-right: 4px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    width: 20%;
    color: #cacaca;
    margin-right: 12px;
}

.AddTodo {
    align-items: center;
    margin-bottom: 23px;
    margin-top: 16px;
    display: flex;
    height: 32px;
}

.fa {
    color: white;
    border-bottom: 2px solid white;
    padding: 8px 0;
}

.TodoSectionCredits {
    color: white;
    font-size: 70%;
    position: absolute;
    bottom: 2%;
    left: 83%;
}