.sign-up-form {
    padding: 5% 0%;
}

.Form-section {
    padding-bottom: 5%;
}

.Form-text {
    font-size: 1rem;
    padding: 1%;
}

.Welcome-user {
    color: white;
    font-size: 1.5rem;
    padding-top: 3%;
}

.Todo-intro {
    color: white;
    font-size: 18px;
    padding: 3%;
    line-height: 1.5;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.User-para {
    color: white;
    font-size: 1.25rem;
    padding: 3%;
    font-weight: bold;
}